!!!
%html
  %head
    %title= BlogSetting.blog_title
    = stylesheet_link_tag    'custom_2/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'custom_2/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
    = render "shared/metatag"
  %body
    #fb-root
    .headline-drop
    .container
      .header
        = render '/shared/header'
      .navigation-menu
        .category-responsive
        .menu-items
          = render '/shared/navigation_menu'
        .search-box
          = render '/shared/search_box'
        .clear
      = yield
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52636106-1', 'auto');
  ga('send', 'pageview');
