$gray: #EEE;
$text-color-gray: #727272;
$title-hover: #666;
$title: #212121;
$date: #B0B0B0;
$error-color: #E67E22;
$lighter-green-color: #71C348;
$green-navbar: #62AF3C;
$yellow-navbar: #F1C40F;

$content-width: 70%;
