- if controller_name.eql?('articles') && action_name.eql?('show')
  = yield :article_show
- else
  %meta{property: 'og:title', content: BlogSetting.blog_title}
  %meta{property: 'og:description', content: BlogSetting.fb_description}
  %meta{property: 'og:image', content: BlogSetting.fb_image}
  %meta{property: 'og:url', content: BlogSetting.url}

%meta{name: 'viewport', content: 'content="width=device-width; maximum-scale=1.0; minimum-scale=1.0; initial-scale=1.0; user-scalable=no'}
%meta{name: "apple-mobile-web-app-capable", content: "yes"}
- BlogSeo.metatags.each do |metatag|
  = metatag.html_safe
