$gray: #EEE;
$light-gray: #B8B6B6;
$text-color-gray: #727272;
$title-hover: #EB9097;
$title: #212121;
$date: #B0B0B0;
$error-color: #E67E22;
$lighter-green-color: #71C348;
$pink-navbar: #FEEBE7;
$light-pink: #FFF0ED;
$darker-pink: #EB9097;
$yellow-navbar: #F1C40F;

$content-width: 70%;
