// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variable';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400&subset=latin,vietnamese);

* {
  font-family:'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 0;
  font-size: 1vw;

  @media screen and (max-width: 1024px) {
    font-size: 15px;
  }

  a, a:hover, a:visited {
    text-decoration: none;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;

  .headline-drop {
    width: 100%;
    height: 30px;
    background-color: $pink-navbar;
    border-bottom: 2px solid $darker-pink;
  }

  @media screen and (max-width: 800px) {
    border-top: 4px solid $pink-navbar;
  }
}

.container {
  width: $content-width;
  margin: 0 auto;
  color: $text-color-gray;
  margin-bottom: -60px;
  position: relative;

  @media screen and (max-width: 700px) {
    width: 85%;
  }
}

.clear {
  clear: both;
}

.header {
  .navbar-content {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    .logo {
      a {
        font-size: 78px;
        font-family: 'Josefin Slab';
        line-height: 1.5em;
        color: #333;
        outline: none;
        @media screen and (max-width: 1024px) {
          font-size: 30px;
        }
        @media screen and (max-width: 500px) {
          font-size: 23px;
        }
      }
    }

    .subtitle {
      font-weight: 400;
      font-size: 17px;
      color: $light-gray;

      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }
  }
}

.navigation-menu {
  border-top: 4px double $pink-navbar;
  margin-top: 25px;

  .category-responsive {
    width: 30px;
    height: 25px;
    display: none;
    cursor: pointer;
    background-image: linear-gradient(0,
                      $pink-navbar 0, $pink-navbar 20%,
                      #FFF 20%, #FFF 40%,
                      $pink-navbar 40%, $pink-navbar 60%,
                      #FFF 60%, #FFF 80%,
                      $pink-navbar 80%, $pink-navbar 95%);
    @media screen and (max-width: 800px) {
      margin-top: 14px;
      display: block;
      float: left;
    }

    &:hover {
      background-image: linear-gradient(0,
                        $lighter-green-color 0, $lighter-green-color 20%,
                        #FFF 20%, #FFF 40%,
                        $lighter-green-color 40%, $lighter-green-color 60%,
                        #FFF 60%, #FFF 80%,
                        $lighter-green-color 80%, $lighter-green-color 95%);
    }
  }

  .is-clicked {
    @extend :hover;
  }

  .search-box {
    padding: 10px;
    padding-right: 0;
    float: right;

    @media screen and (max-width: 1054px) {
      font-size: 13px;
    }

    @media screen and (max-width: 950px) {
      padding: 5px 0;
      float: left;
      width: 100%;
    }

    @media screen and (max-width: 800px) {
      width: 80%;
      padding: 0;
      float: right;
      margin-top: 12px;
    }

    form {
      input#query {
        border: 1px solid #EEE;
        border-radius: 3px;
        padding: 5px 22px;
        font-size: 16px;
        color: $text-color-gray;

        &::-webkit-input-placeholder {
          color: $text-color-gray;
        }
        &:-moz-placeholder {
          color: $text-color-gray;
        }
        &::-moz-placeholder {
          color: $text-color-gray;
        }
        &:-ms-input-placeholder {
          color: $text-color-gray;
        }

        &:focus {
          outline: 0;
        }

        @media screen and (max-width: 1054px) {
          width: 100px;
        }

        @media screen and (max-width: 950px) {
          padding: 5px 20px;
          width: 92%;
        }

        @media screen and (max-width: 800px) {
          padding: 5px 5%;
          width: 82%;
          float: right;
        }
      }

      span.glass {
        width: 8px;
        height: 8px;
        border: 2px solid $text-color-gray;
        border-radius: 100%;
        content: '';
        display: block;
        position: relative;
        top: -24px;
        left: 5px;

        &:after {
          content: '';
          display: block;
          width: 2px;
          height: 7px;
          background: $text-color-gray;
          transform: rotate(-35deg);
          -moz-transform: rotate(-35deg);
          -webkit-transform: rotate(-35deg);
          position: absolute;
          top: 8px;
          left: 8px;
        }

        @media screen and (max-width: 800px) {
          display: none;
        }
      }
    }
  }

  .menu-items {
    float: left;
    position: relative;

    &:after {
      @extend .clear;
      display: block;
      content: '';
      min-width: 140px;
    }

    ul {
      list-style: none;
      width: 100%;
      @media screen and (min-width: 800px) {
        display: inline-block !important;
      }

      @media screen and (max-width: 800px) {
        max-width: 140px;
        display: none;
        position: absolute;
        z-index: 5;
        background-color: #FFF;
        box-shadow: 0 5px 5px 2px #DDD;
        padding: 0 3px;
        top: 13px;
        border-top: 1px solid #EEE;
      }

      a:link, a:hover, a:visited {
        text-decoration: none;
        color: $text-color-gray;

        li {
          display: inline-block;
          padding: 15px 20px;
          min-width: 5%;
          text-align: center;
          position: relative;
          font-size: 16px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          overflow: hidden;
          white-space: nowrap;

          &:first-child {
            padding-left: 0;
          }

          @media screen and (max-width: 800px) {
            display: block;
            text-align: left;
            padding: 10px 0 10px 10px;
          }
        }

        li:hover {
          color: #222;
        }

        li.active {
          color: #222;
          font-weight: 700;

          &:hover {
            font-weight: 700 !important;
          }
        }
      }
    }
  }
}

.body.main-content {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  .love {
    width: $content-width;
    margin: 0 auto;
  }

  .article-container {
    margin-top: 2vh;
    margin-bottom: 10vh;
    width: 49%;
    transition: opacity 0.3s, transform 0.4s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.4s;

    @media screen and (max-width: 850px) {
      width: 100%;
    }

    &:last-child {
      margin-left: 2%;
    }

    &:hover {
      transform: translate(0, -10px);
      -webkit-transform: translate(0, -10px);
      opacity: 0.8;
    }

    .feature-image {
      min-height: 285px;
      max-height: 285px;
      overflow: hidden;
      width: 100%;
      border: 1px solid $gray;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
      @media screen and (max-width: 850px) {
        max-height: 285px;
        min-height: 0;
      }
    }

    .post-time {
      margin: 1.2vh 0;
      font-size: 0.92vmax;
      color: $date;

      @media screen and (max-width: 850px) {
        font-size: 10px;
      }
    }

    .title {
      a, a:hover, a:visited {
        text-decoration: none;
        color: $title;
        font-weight: bold;
        font-size: 22px;

        @media screen and (max-width: 850px) {
          font-size: 18px;
        }
      }

      a:hover {
        color: #333;
        color: $title-hover;
      }
    }

    .short-content {
      margin-top: 25px;
      line-height: 1.7em;

      @media screen and (max-width: 850px) {
        font-size: 13px;
      }
    }
  }
}

.article-container#article_show {
  .left-content {
    float: left;
    margin-top: 3.5vh;
    line-height: 2.2em;
    width: 68%;

    @media screen and (max-width: 850px) {
      width: 100%;
      float: none;
    }

    .title {
      h1 {
        color: $title;
        font-size: 23px;
        line-height: 1.4em;

        @media screen and (max-width: 600px) {
          font-size: 20px;
        }
      }
    }

    .content {
      color: #333;
      margin-top: 2.5vh;
      line-height: 1.8em;

      a, a:hover, a:visited {
        color: $text-color-gray;
        text-decoration: underline;
      }

      p {
        margin-bottom: 1.5em;
      }

      @media screen and (max-width: 1024px) {
        font-size: 15px;
        p {
          font-size: 15px;
        }
      }

      @media screen and (max-width: 500px) {
        font-size: 13px;
        p {
          font-size: 15px;
        }
      }
    }

    .related-post {
      padding-top: 3vh;
      border-top: 1px solid $gray;
      h2 {
        font-size: 15px;
        font-weight: 600;
      }
      @media screen and (max-width: 1024px) {
        h2 {
          font-size: 14px;
          line-height: 1.6em;
        }
      }

      ul {
        list-style: none;
        li {
          padding-left: 5px;
          a {
            text-decoration: none;
            color: $text-color-gray;
            font-size: 15px;
            &:hover {
              color: $title-hover;
            }

            @media screen and (max-width: 1024px) {
              font-size: 14px;
              line-height: 1.8em;
            }
            @media screen and (max-width: 850px) {
              font-size: 12px;
              line-height: 1.8em;
            }
          }
        }
      }
    }
  }

  .right-content {
    margin-top: 3.5vh;
    padding: 3vh 3%;
    float: right;
    width: 24%;
    background-color: $light-pink;

    @media screen and (max-width: 850px) {
      width: 95%;
      float: none;
    }

    .message {
      .title {
        h1 {
          font-size: 1.9vmax;
          font-weight: normal;
          line-height: 1.2em;

          @media screen and (max-width: 850px) {
            font-size: 22px;
            line-height: 1.6em;
          }
        }
      }

      .subtitle {
        h3 {
          margin: 3vh 0;
          font-weight: normal;
          font-size: 1vmax;

          @media screen and (max-width: 850px) {
            font-size: 14px;
            line-height: 1.6em;
          }
        }
      }
    }

    .errors {
      color: $error-color;
    }

    .success {
      color: $pink-navbar;
    }

    .errors, .success {
      padding-bottom: 2vh;
    }

    .form {
      input[type=text] {
        width: 93%;
        font-size: 1.3vmax;
        padding: 3%;
        color: $text-color-gray;
        border-color: #DDD;
        border-style: solid;
        border-width: 1px;
        margin-top: 1vh;
        margin-bottom: 0.8vh;

        @media screen and (max-width: 850px) {
          font-size: 14px;
          line-height: 1.6em;
        }
      }

      input[type=submit] {
        padding: 3% 2%;
        border: 0;
        background-color: $title;
        color: #FAFAFA;
        width: 100%;
        font-size: 1.5vmax;
        margin-top: 2vh;
        margin-bottom: 3vh;
        cursor: pointer;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;

        &:hover {
          background-color: #666;
        }

        @media screen and (max-width: 850px) {
          padding: 1.8% 2%;
          font-size: 25px;
        }
      }
    }
  }
}

.fb-like-container {
  height: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  .fb_iframe_widget {
    height: 25px;
  }
}

.share-social {
  margin-top: 2vh;
  border-top: 1px solid $gray;
  padding: 10px 0;
  .share-button.sharer-0 {
    height: auto;

    label.entypo-export {
      display: none;
    }

    .social.middle.right.networks-3.active {
      margin: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      ul {
        li {
          background-color: $darker-pink;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          padding: 0;
          margin-left: 5px;
          &.entypo-twitter {
            margin-left: 0;
          }

          &:before {
            line-height: 2em;
            color: #FFF;
          }

          &:hover {
            background-color: $light-pink;
          }
        }
      }
    }
  }
}

.pagination-container {
  margin: 2vh 0;
  .pagination {
    @mixin link_style() {
      a, a:visited {
        display: block;
        font-size: 1.4vmax;
        text-decoration: none;
        color: #FFF;
        padding: 1vh 1vw;
        background-color: $pink-navbar;
        border-radius: 5px;

        &:hover {
          background-color: $lighter-green-color;
        }
      }
    }

    .next {
      float: right;
      @include link_style();
    }
    .previous {
      float: left;
      @include link_style();
    }

    @media screen and (max-width: 850px) {
      .next, .previous {
        padding: 5px 15px;
        a, a:visited {
          font-size: 20px;
        }
      }
    }
  }
}

.footer {
  @mixin footer_style() {
    height: 60px;
    width: 100%;
    font-size: 1.1vmax;
    background-color: $gray;
  }

  display: none;
  position: absolute;
  bottom: 0;
  @include footer_style();

  &:before, &:after {
    @include footer_style();
    content: '';
    display: block;
    position: absolute;
    width: 0;
    position: absolute;
    bottom: 0;
  }

  &:before {
    left: 0;
    padding-left: 500%;
    margin-left: -500%;
  }

  &:after {
    top: 0;
    right: 0;
    padding-right: 500%;
    margin-right: -500%;
  }

  /*display: table;*/

  .container {
    display: table-row;

    .logo {
      padding-left: 1vw;
      width: 15%;
      display: table-cell;
      font-weight: 700;
      margin-right: 2vw;
      vertical-align: middle;
    }

    .category {
      display: table-cell;
      vertical-align: middle;
      ul {
        text-decoration: none;
        a {
          padding: 0 0.4vw;
          li {
            margin: 0;
            display: inline-block;
            color: $text-color-gray;
          }

          &:hover, &:visited {
            @extend li;
          }
        }
      }
    }
  }
}

#error-not-found {
  font-size: 40px;
  font-weight: 700;
  color: $pink-navbar;
}

.incap_page-tooltip.incap_from-right.incap_bottom {
  display: none;
}

._56zz._56z-._56-2#u_0_6 {
  display: none;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
}
